html, body {
  background-color:rgb(255, 255, 255);
  margin-left: 105px;
  padding: 0;
}
button {

  background-color: rgb(220);
  font-size: 8pt;
  color: rgb(0, 0, 0);
  border: none;
}
canvas {
  display: block;
}
